<div>
    <h1>Women</h1>
</div>

<div class="id-holder" data-id="{{id}}"></div>

{{#each users as |user| }}



<section class="connection-card">
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
    <p>Age: {{user.age}}</p>
    <p>Previous Marriage: {{user.marriage}}</p>
    <p>Children: {{user.children}}</p>
    <p>Meddling Family: {{user.family}}</p>
    <p>Smoker: {{user.smoker}}</p>
    <p>Debt: {{user.debt}}</p>
    <p>Travel for Work: {{user.travel}}</p>
    <p>Bio: {{user.bio}}</p>

    <button class="btn connect-btn" data-connected-to-id="{{user.id}}">Connect</button>
</section>

{{/each}}



</div>
<script src='/js/connectbtn.js'></script>