<div class="profile">
    <div>
        <div>
            <h2>My Profile</h2>
        </div>
        <section class="profile-card">
            <p>First Name: {{user.first_name}}</p>
            <p>Last Name: {{user.last_name}}</p>
            <p>Age: {{user.age}}</p>
            <p>Marriage: {{user.marriage}}</p>
            <p>Children: {{user.children}}</p>
            <p>Meddling Family: {{user.family}}</p>
            <p>Smoker: {{user.smoker}}</p>
            <p>Debt: {{user.debt}}</p>
            <p>Travel: {{user.travel}}</p>
            <p>Bio: {{user.bio}}</p>
        </section>
    </div>

    <div>
        <div>
            <h2>Connections</h2>
        </div>

        {{#each user.connections}}
        <section class="connection-card">
            <div>
                <p>First Name: {{this.first_name}}</p>
                <p>Last Name: {{this.last_name}}</p>
                <p>Age: {{this.age}}</p>
                <p>Marriage: {{this.marriage}}</p>
                <p>Children: {{this.children}}</p>
                <p>Family: {{this.family}}</p>
                <p>Smoker: {{this.smoker}}</p>
                <p>Debt: {{this.debt}}</p>
                <p>Travel: {{this.travel}}</p>
                <p>Bio: {{this.bio}}</p>
                <button class="disconnect-btn" data-connected-to-id="{{this.id}}">Disconnect</button>
                <div class="id-holder" data-id="{{this.id}}"></div>
            </div>
        </section>
        {{/each}}
    </div>
</div>

<script src='./js/profile.js'></script>